{% extends 'blog/base.html' %}

{% block content %}
        {% for post in posts %}

        <!-- Blog entry -->

              <div class="w3-card-4 w3-margin w3-white">
                  <div class="w3-container">
                      <h2> <b><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></b></h2>
                       <p><b>{{ post.teaser|linebreaksbr }}</b></p>
                       <p>Published: <span class="w3-opacity"> {{ post.published_date }} </span></p>
                  </div>
                       
              </div>
      
        {% endfor %}
{% endblock %}

