{% extends 'blog/base_detail.html' %}

{% block content %}

              <div class="w3-card-4 w3-margin w3-white">
                  <div class="w3-container">       
                      <h5>Published: <span class="w3-opacity"> {{ post.published_date }} </span></h5>
                  </div>          
          
                       
                       <p>{{ post.text| safe }}</p>
                       <p><a href="{% url 'post_list' %}">zurück</a></p>
                  </div>
                
              </div>
      
{% endblock %}
